@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

body {
    margin: 0;
    padding: 0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 19px;
}

div.background {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/813046-beautiful-cool-backgrounds-of-cars-2560x1600.jpg");
    background-size: 100% 110%;

    background-repeat: no-repeat;
}

header ul {
    margin: 0;
    padding: 15px;
}

header {
    height: 50px;
    background-color: #520469;
}

header ul li {
    display: inline-block;
}

header ul div.right {
    float: right;
    color: white;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 1em;
}

div.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

header ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px 0 0px 0;
    text-decoration: underline;
}

h1.form {
    text-align: center;
    padding: 100px 0 0 0;
    text-decoration: underline;
    color: black;
}

p {
    margin: auto;
    text-align: center;
    padding: 10px 0 20px 0;
}

h3 {
    /*margin: auto;*/
    text-align: center;
    padding: 10px 0 1s0px 0;
}

form {
    display: inline-block;
    text-align: center;
    margin: auto;
}

input[type="text"],
input[type="password"],
input[type="number"],
select,
textarea {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

input[type="text"]:hover,
input[type="password"]:hover,
select:hover,
textarea:hover {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    border: 1px solid rgb(172, 171, 171);
    background-color: rgb(251, 251, 251);
    border-radius: 4px;
    box-sizing: border-box;
}

textarea:hover {
    height: 100px;
    resize: none;
}

div.edit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

div.listing input[type="submit"] {
    display: inline-block;
    width: 40%;
    height: 40px;
    background-color: #520469;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    color: white;
}
div.listing input[type="submit"]:hover {
    width: 40%;
    height: 40px;
    margin-top: 5px;
    background-color: white;
    border: 2px solid #520469;
    font-size: 16px;
    border-radius: 4px;
    color: #520469  ;
}

input[type="submit"].rent{
    margin-left: 30%;
    margin-right: 30%;
}

input[type="submit"] {
    width: 100px;
    height: 40px;
    margin-top: 5px;
    background-color: #520469;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    color: white;
}

input[type="submit"]:hover {
    width: 100px;
    height: 40px;
    margin-top: 5px;
    background-color: white;
    border: 2px solid #520469;
    font-size: 16px;
    border-radius: 4px;
    color: #520469  ;
}

/* div.listings,
div.teams {
    display: inline-block;
    width: 100%;
} */

div.listings:after{
    content: "";
    display: table;
    clear: both;
}



div.listing,
div.team {
    float: left;
    width: 33.33%;
}

div.listing h2,
div.team h2 {
    text-align: center;
    background-color: #920c0c;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
}

div.team-info {
    position: relative;
    top: -30px;
    display: inline-block;
    width: 40%;
    margin: 20px;
    vertical-align: text-top;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    background-color: #520469;
    color: white;
    text-align: center;
}

div.profile {
    display: flex;
    width: 600px;
    margin: 0 auto;
    justify-content: space-between;
}

div.profile form {
    display: flex;
    width: 350px;
    padding-top: 25px;
}

div.profile form input,
div.profile form p {
    text-align: left;
    margin: 0;
}

div.info {
    display: flex;
    flex-direction: column;
}

div.more-info input,
div.more-info p {
    text-align: left;
    margin: 0;
}

div.more-info p {
    padding-top: 25px;
}

div.info form input {
    margin-left: 80px;
}

body>main>div>div:nth-child(1)>form:nth-child(3)>input[type="submit"] {
    margin-left: 62px;
}

div.listings img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

img.profileimg {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    width: 150px    ;
}

div.profile-box {
    border: 3px solid #520469;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    height: 400px;
}